lang en_US
keyboard us
timezone America/New_York --isUtc
rootpw $1$7qCIhisq$JCialrLKPMISv9OayLVaE1 --iscrypted
reboot
text
network --hostname {{ hostname }}.{{ domainname }} 
url --mirrorlist='http://mirrorlist.centos.org/?release=$releasever&arch=$basearch&repo=os&infra=$infra'
repo --name='CentOS-Updates' --mirrorlist='http://mirrorlist.centos.org/?release=$releasever&arch=$basearch&repo=updates&infra=$infra'
bootloader --location=mbr --append="crashkernel=auto"
zerombr
clearpart --all --initlabel
part /boot --ondisk=vda --size=512  --fstype=ext3
part swap  --ondisk=vda --size=4096 --fstype=swap
part pv.01 --ondisk=vda --size=1 --grow
volgroup vg_root pv.01
logvol / --vgname=vg_root --size=1 --name=lv_root --fstype=xfs --grow
ignoredisk --only-use=vda
reboot
auth --passalgo=sha512 --useshadow
selinux --enforcing
firewall --disabled
%packages --nobase --excludedocs
@base
qemu-guest-agent
-aic94xx-firmware*
-alsa-*
-iwl*firmware
-iprutils
%end
